body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #f1e8dd;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 3px solid #111111;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.row {
  border-top: 3px solid #111111;
  border-left: 3px solid #111111;
  border-right: 3px solid #111111;
}

.hour {
  background-color: #fc69b8;
  color: #111111;
}

.past {
  background-color: #777777;
  color: white;
}

.present {
  background-color: #fd1719;
  color: white;
}

.future {
  background-color: #00be64;
  color: white;
}

.saveBtn {
  border-left: 3px solid #111111;
  background-color: #85c9fe;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
